/* ***************************************************************************** */
/*                                                                               */
/*       file : Banner.css                                                       */ 
/*                                                                               */ 
/*  #####     #####  ###############  #####      ####  ###############           */ 
/*  ######   ######  ###############  #######    ####  ###############           */     
/*  ###############  #####     #####  #########  ####  #####     #####           */
/*  ###############  ###############  ####   ########  #####     #####           */
/*  #####     #####  ###############  ####     ######  #####     #####           */
/*  #####     #####  #####     #####  ####      #####  ###############           */
/*  #####     #####  #####     #####  ####       ####  ###############  test...  */
/*                                                                               */ 
/*                  created 07/11/2022 by Marion                                 */
/*                                                                               */
/* ***************************************************************************** */

.manotest-banner {
    color: rgb(7, 248, 236);
    text-align: center;
    padding: 32px;
    border-bottom: solid 4px rgb(94, 142, 148);
}

.manotest-pixabay {
    text-align: left;
    /*padding: 32px;*/

}